@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

<style>
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
</style>

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Animação de fundo */
.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #000000, #333333, #000000, #333333);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    z-index: -1;
    /* Coloca o fundo atrás do conteúdo */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Centraliza verticalmente */
    padding: 20px;
    /* Espaçamento para dispositivos móveis */
}

section {
    margin: 30px auto;
    backdrop-filter: blur(10px);
    /* Aplica o efeito de desfoque */
    background-color: rgba(51, 51, 51, 0.8);
    /* Fundo semi-transparente escuro */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    /* Bordas arredondadas */
    padding: 20px;
    /* Espaçamento interno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    /* Sombra suave */
}

.parte-de-cima {
    display: grid;

}

img {
    margin: 5px auto;
}

h1,
h3 {
    text-align: center;
    margin: 10px 0px;
    color: #209CEE;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

h3 {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
    width: 500px;
    font-size: 1em;
    text-align: justify;
    line-height: 1.6;
    text-indent: 20px;
    color: #EAEAEA;
}

.parte-de-baixo {
    display: flex;
    flex-direction: column;
}

.parte-de-baixo a {
    margin: 10px auto;
}

.parte-de-baixo button {
    width: 400px;
    height: 60px;
    padding: 5px;
    background-color: #209CEE;
    border-radius: 40px;
    border: 1px solid transparent;
    font-size: 1.3em;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px; /* Melhora a legibilidade */
}

.parte-de-baixo button:hover {
    cursor: pointer;
    background-color: #0f5581;
    border: 1px solid whitesmoke;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}